/* Make the container horizontally scrollable */
#product-slider-container {
    overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
        /* To prevent scrollbar overlap */
        scroll-behavior: smooth;
        /* Smooth scrolling */
        -ms-overflow-style: none;
        /* Hides scrollbar for IE and Edge */
        scrollbar-width: none;
        /* Hides scrollbar for Firefox */
    }

#product-slider-container::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar */
}

/* Optional: Enable mouse dragging by default for the container */
#product-slider-container {
    cursor: grab;
    /* Change cursor when hovering over the scrollable area */
}

/* Change the cursor to 'grabbing' when holding down mouse button */
#product-slider-container:active {
    cursor: grabbing;
}